@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* gold-nouveau theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

:is(.dark .anchor) {
	--tw-text-opacity: 1;
	color: rgb(var(--color-primary-400) / var(--tw-text-opacity));
}
